name: "ci"

on:
  push:
    branches: ["master"]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/ci.yml'
  pull_request:
    branches: ["master"]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.x'

    - name: Install mockgen
      run: go install go.uber.org/mock/mockgen@latest

    - name: Verify dependencies are tidy
      run: go mod tidy && git diff --exit-code go.mod go.sum

    - name: Verify generated code is up-to-date
      run: go generate ./... && git diff --exit-code

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest

    - name: Test
      run: |
        PKGS=$(go list ./... 2>/dev/null | grep -Ev '(/test|/mocks|/cmd$$|/tools/|/osfs$$|/osexec$$|^github\.com/ma-tf/meta1v$$)')
        go test -race -covermode=atomic -coverprofile=coverage.out $PKGS

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Build
      run: go build ./...
